n8n/tiktok-reel-pipeline.json
{
  "name": "Mulai Dari Basic — TikTok Reel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 2,4,6"
            }
          ]
        }
      },
      "id": "schedule-reel",
      "name": "Schedule (Tue Thu Sat 12:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "filePath": "={{ $env.MULAI_DARI_BASIC_ROOT }}/calendar/next-topics.json"
      },
      "id": "read-topics",
      "name": "Read next-topics.json",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst root = $env.MULAI_DARI_BASIC_ROOT;\nlet topic = 'Konsep IT basic untuk pemula';\n\ntry {\n  const raw = fs.readFileSync(`${root}/calendar/next-topics.json`, 'utf8');\n  const data = JSON.parse(raw);\n  const reel = data.topics?.find(t => t.suggested_format === 'reel') || data.topics?.[0];\n  if (reel?.topic) topic = reel.topic;\n} catch {}\n\nreturn [{ json: { topic } }];"
      },
      "id": "pick-topic",
      "name": "Pick reel topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "command": "=cd {{ $env.MULAI_DARI_BASIC_ROOT }} && npm run pipeline:reel -- \"{{ $json.topic }}\" --queue"
      },
      "id": "run-pipeline",
      "name": "Pipeline: generate → render → upload",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Schedule (Tue Thu Sat 12:00 WIB)": {
      "main": [[{ "node": "Pick reel topic", "type": "main", "index": 0 }]]
    },
    "Pick reel topic": {
      "main": [[{ "node": "Pipeline: generate → render → upload", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [{ "name": "mulaidaribasic" }]
}
